<div class="message-body">
 	<%= form_tag(user_messages_path(@user), method: :post) do %>
  	<%= label_tag :subject, nil, class: 'main-label' %>
  	<%= text_field_tag :subject, nil, class: 'form-control' %>
  	<%= label :body, "Message", class: 'main-label' %>
  	<%= text_area_tag :body, nil, class: 'form-control', :size => "100x8" %>
  	<%= submit_tag 'Send', class: "btn" %>
 	<% end %>
</div>