<div class="message-body">
 	<%= form_tag(user_messages_path(@user), method: :post) do %>
  	<%= label_tag :subject %>
  	<%= text_field_tag :subject, nil, class: 'form-control' %>
  	<%= label :body, "Message text" %>
  	<%= text_area_tag :body, nil, class: 'form-control', :size => "100x8" %>
  	<%= submit_tag 'Send message', class: "btn btn-primary" %>
 	<% end %>
</div>