<h1>Messages#new</h1>
<p>Find me in app/views/messages/new.html.erb</p>

Send a message to
 
 <%= @user.first_name %>
 <%= form_tag(user_messages_path(@user), method: :post) do %>
  <%= label_tag :subject %>
  <%= text_field_tag :subject %>
  <%= label :body, "Message text" %>
  <%= text_area_tag :body %>
  <%= submit_tag 'Send message', class: "btn btn-primary" %>
 <% end %>