<p>Start a new conversation</p>
<ul>
  <%= form_for @conversation do |f| %>
    Topic <br />
    <%= f.text_field :subject %> <br /><br />
        Message<br />
        <%= form_for [@conversation, @message] do |f| %>
          <%= f.text_area :body %> <br />
          <%= f.submit :class => 'btn btn-primary' %>
        <% end %>
    <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</ul>