<div class="col-md-2 new-messages">

  <div class="inbox-preview-col">
    <%= render current_user.mailbox.inbox %>
  </div>
</div>


<div class="col-md-7"> 

<div class="message-header">
  <div class="delete-div">
    <%= link_to "", {:controller => "conversations", :action => "trash", :id => conversation.id}, :title=> "Move to Trash", :method=>'post', :class => "glyphicon glyphicon-trash" %>
  </div>
  <div class="subject-div">
    <h3>SUBJECT: <%= conversation.subject.upcase %></h3>
  </div>  
</div>  

  <div class="message_content">
    <%= content_tag_for(:li, conversation.receipts_for(current_user)) do |receipt| %>
      <% message = receipt.message %>
      <div class="message_content_each">
         <%=message.sender.name.upcase%>  <br>
        <h6><%= message.created_at.strftime("%d %b %I:%M %p") %> </h6>
        <h5> <%= message.body.html_safe %> </h5>
      </div>
    <% end %>

  </div>

  <%= render 'messages/form', conversation: conversation %>  
</div>


<div class="col-md-3"> 
  <div class="calendar-container">
    <div id="calendar"></div>
  </div>
</div>


