<h1> Conversation </h1>
<%= @conversation.subject %>
  In a conversation with: 
  <% @conversation.participants.each do |participant| %>
    <%= participant.user.first_name %>

    <% @conversation.messages.each do |message| %>
      <%= message.user.user_profile.first_name %><br />
      <%= message.body %>
      <%= link_to "Delete Message", message_path(message), method: :delete, 
                data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %><br />
    <% end %>

  <%= link_to "Delete Conversation", conversation_path(@conversation), method: :delete, 
              data: { confirm: 'Are you sure?' }, class: 'btn btn-link' %>
<% end %>

<ul>
Compose a message
  <%= form_for [@conversation, @message] do |f| %>
    <%= f.text_area :body %> <br />
    <%= f.submit :class => 'btn btn-primary' %>
<% end %>
</ul>