<h3><%= @topic.name %></h3><br />

<%= link_to "Add more topics", new_topic_path, class: "btn btn-success" %>
<%= link_to "View all topics", topics_path, class: "btn btn-info" %><br />

<%= link_to "Add more languages", new_language_path, class: "btn btn-success" %>
<%= link_to "View all languages", languages_path, class: "btn btn-warning" %><br />