<h3 class="topic-name">
	<%= @topic.name %>
</h3>
<br>
<div class ='topics-completed-users'>
	<% if @topic.completed_users.count == 0 %>
		<p>This topic hasn't yet been discussed</p>
		<div class='be-the-first'>
			Be the first!
		</div>
	<% end %>
	<% else %>
		Total users who have completed this topic:<br> 
		<h1>
			<%= @topic.completed_users.count %>
		</h1>
	<% @topic.completed_users.each do |x| %>
			<%= link_to x.username, user_profile_path(x) %>
	<% end %>
</div><br><br>
<div class ='topics-completed-users'>
	<% if @topic.incompleted_users.count == 0 %>
		<p>This topic hasbeen finished by everyone!</p>
	<% else %>
		Total users who have not completed this topic:<br> 
		<h1>
			<%= @topic.incompleted_users.count %>
		</h1>
		<% @topic.incompleted_users.each do |x| %>
			<%= link_to x.username, user_profile_path(x) %>
		<% end %>
	<% end %>
</div>
<%= link_to "View all topics", topics_path, class: "btn btn-info" %>




