<% if !current_user %>
  <section id='splash1'>
    <div class="bcg" data-0="background-position: 0px -200px;" data-end="background-position: 0px 1800px;" data-anchor-target="#splash1">
      <div class="container">
        <div class="welcome">
          <div class='col-md-5'>
            <div id="welcome-left">
              <%= image_tag 'polyglt_logo.png' %>
              <h4>• • • • • • • • • • • • • • •</h4>
              <h1>POLYGLT</h1>
              <h4>• • • • • • • • • • • • • • •</h4>
              <h3>COMPLETE LANGUAGE IMMERSION</h3>
              <h3>A global community for the teaching and learning of foreign languages.</h3>
            </div>
          </div>
          <div class="col-md-7 welcome-right">
          	<div class="form-horizontal">
          		<h3><ins>Sign in</ins></h3>
          		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
              		<div class="col-md-4 title"><%= f.label :email %></div>
              		<div class="col-md-8"><%= f.email_field :email, autofocus: true %></div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 title"><%= f.label :password %></div>
                  <div class="col-md-8"><%= f.password_field :password, autocomplete: "off" %></div>
                </div>
              	<div class="button">
                  <%= f.submit "Welcome back" %>
                </div>	
                <div class="remember">
                  <% if devise_mapping.rememberable? %>
                    <%= f.label :remember_me %>
                    <%= f.check_box :remember_me %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <br>
            <br>
            <div class="form-horizontal">
              <h3><ins>Sign up</ins></h3>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <div class="form-group">
                  <div class="col-md-4 title"><%= f.label :email %></div>
                  <div class="col-md-8"><%= f.email_field :email, autofocus: true %></div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 title"><%= f.label :username %></div>
                  <div class="col-md-8"><%= f.text_field :username, autocomplete: "off" %></div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 title"><%= f.label :password %></div>
                  <div class="col-md-8"><%= f.password_field :password, autocomplete: "off" %></div>
                </div>
                <div class="form-group">
                  <div class="col-md-4 title"><%= f.label :Confirm_password %></div>
                  <div class="col-md-8"><%= f.password_field :password_confirmation, autocomplete: "off" %></div>
                </div>
                <div class="button">
                  <%= f.submit "Join POLYGLT" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="splash2">
      <div class="container">
        <div class="splash-text">
          <h1>How It Works</h1>
          <div class="col-md-4">
            <h2>Join POLYGLT</h2>
            <h3>Tell us your native language.</h3>
            <h3>Tell us the language you Wants to Learn.</h3>
          </div>
          <div class="col-md-4">
            <h2>Find other POLYGLTers</h2>
            <h3>We match you against other POLYGLTers who Wants to Learn your native language and speak the language you Wants to Learn fluently.</h3>
            <h3>Review your matches.</h3>
            <h3>Book a live lesson.</h3>
          </div>
          <div class="col-md-4">
            <h2>Have a lesson</h2>
            <h3>Learn from and teach other POLYGLTers using live video chat.</h3>
            <h3>We provide help with lesson plans.</h3>
            <h3>Give and recieve feedback on your lesson.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section id="splash3">
    <div class="bcg" data-0="background-position: 0px -900px;" data-end="background-position: 0px 1100px;" data-anchor-target="#splash3">
    </div>
  </section>

  <div id="splash4">
    <div class="container">
      <div class="splash-text">
        <h1>Why Polyglt?</h1>
        <h3>One of the main obstacles in learning any language is having the opportunity to practice in an environment that suits you, anytime and anywhere.  Polyglt provides the online setting for students with a mutual interest in developing their second or third language, to go head to head and support one another’s development.</h3>
        <h3>Meet native speakers and practice your second language today with real conversations.  Discover your abilities as you discover new people.</h3>
        <h3>Language immersion is key to successful language acquisition. By language immersion we mean using ‘real’ experiences to inform your learning.</h3>
      </div>
    </div>
  </div>

  <section id="splash5">
    <div class="bcg" data-0="background-position: 0px -1200px;" data-end="background-position: 0px 600px;" data-anchor-target="#splash5">
    </div>
  </section>

  <div id="splash6">
    <div class="container">
      <div class="splash-text">
        <h1>Why is POLYGLT immersion key?</h1>
        <ol>
          <h3><li>You let go of your fears.</li></h3>
          <h3><li>You learn organically.</li></h3>
          <h3><li>You are familiarised with the way language is used in real life</li></h3>
          <h3><li>You learn aspects of language that cannot be replicated in a formal classroom.</li></h3>
          <h3><li>And all at your own convenience and pace.</li></h3>
        </ol>
      </div>
    </div>
  </div>

  <section id="splash7">
    <div class="bcg" data-0="background-position: 0px -2400px;" data-end="background-position: 0px 200px;" data-anchor-target="#splash7">
    </div>
  </section>

  <div id="splash8">
    <div class="container">
      <div class="splash-text">
        <h1>About POLYGLT</h1>
        <h3>POLYGLT is a peer to peer, language learning, webapp built as a final project at <a href="http://www.makersacademy.com/">Makers Academy</a>, a highly selective, 12 week full-time programme that teaches web development in London.</h3>
        <h2>The POLYGLT Team</h2>
        <h3>
          <a href="https://github.com/fredmcgroarty">Fred McGroarty</a> 
          <a href="https://github.com/MarkMekhaiel">Mark Mekhaiel</a> 
          <a href="https://github.com/tiffaniechia">Tiffanie Chia</a> 
          <a href="https://github.com/ajcumine">Andrew Cumine</a> 
          <a href="https://github.com/RuslanVikhor">Ruslan Vikhor</a> 
          <a href="https://github.com/KanoTheDev">Karolis Noreika</a>
        </h3>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  var s = skrollr.init({
  });
</script>