<title>
	Welcome to langlang 
</title>

<% if user_signed_in? %>

	<div class="col-md-2">
		<div class='home-page-avatar-info'>
			<% if @user %>
				<%= image_tag @user.user_profile.picture.url(:medium), class: "mini-profile-avatar" %>
				<h5><%= link_to @user.username, user_profile_path(@user) %></h5>
				<h4><%= @user.first_name %> <%= @user.last_name %></h4>
				<%= link_to "You have #{ pluralize(@unread_count, "unread message")} ", conversations_path %>
			<% end %>
			<br>
		</div>
	</div>
	<div class="col-md-10">
		<div class='main-splash-container'>
			<% if @user && @user.native_lang.nil? %>
				<%= link_to 'You need to create your language profile', 	edit_user_profile_path %>
			<% end %>
			<div class="row user-appointments">
				<% if @user %>
					<h2>UPCOMING APPOINTMENTS</h2>
					<%@userbookings.each do |booking|%>
						<%if (Time.now >= booking.start_time.to_time) && ( Time.now <= booking.end_time.to_time) %>
							You have a lesson now: <%= link_to 'GO TO LESSON', lesson_path(id: booking.lesson.uid)%>
						<% end%>	
					<% end%>
					<% @userbookings.each do |x| %>
						<p>
						Appointment with: <%= x.not_you(current_user).first_name %><br>
						Status: <%= x.accepted ? "has been confirmed." : "is awaiting confirmation." %>
						<br>
						Starts at: <%="#{x.start_time.strftime('%I:%M:%S %p')}"%><br> 
						Duration:<%= pluralize(x.length, "hour") %><br>
						<%= link_to "View Booking", edit_booking_path(x) %>   <%= link_to "Cancel Booking", booking_path(x), method: 'delete' %><br /></p>
					<% end %>
				<% end %>
			<div class="calendar_container_small">
				<div id="calendar">
				</div>
			</div>
			</div>
			<div class="row matched-users">
				<h2>MATCHED USERS</h2>
				<% current_user.compatible_users.each do |users| %>
					<div class="col-md-2">
						<div class="matched-user-profiles">
							<% next if users.id == current_user.id %>
							<% if users.user_profile  %> 
								<%= image_tag users.user_profile.picture.url(:thumb), class: 'matched-user-profile-pic'%>
								<br>
								<div class="matched-user-profiles-description">
								<%= link_to users.first_name, user_profile_path(users) %> 
								<h5 >Want to Teach: <%= users.user_profile.native_lang %></h5>
								<h5> What to Learn <%= users.user_profile.first_lang %> & <%= users.user_profile.second_lang %></h5> 
								</div>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row topics">
				<h2>TOPICS</h2>
				<% get_topics %>
					<div class="col-md-3">
						<% @topics_a.each do |x| %>
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge"><%= x.completed_users %></span>
									<%= link_to x.name, topic_path(x) %>
								</li>
							</ul>
						<% end %>
						</div>
						<div class="col-md-3">
						<% @topics_b.each do |x| %>
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge"><%= x.completed_users %></span>
									<%= link_to x.name, topic_path(x) %>
								</li>
							</ul>
						<% end %>
						</div>
						<div class="col-md-3">
						<% @topics_c.each do |x| %>
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge"><%= x.completed_users %></span>
									<%= link_to x.name, topic_path(x) %>
								</li>
							</ul>
						<% end %>
						</div>
						<div class="col-md-3">
						<% @topics_d.each do |x| %>
							<ul class="list-group">
								<li class="list-group-item">
									<span class="badge"><%= x.completed_users %></span>
									<%= link_to x.name, topic_path(x) %>
								</li>
							</ul>
						<% end %>
				</div>
			</div>	
		</div>
	</div>
<% else %>
	<%= render 'not_logged_in'  %>
<% end %>

