<title>
	Welcome to langlang 
</title>

<head><link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'></head>


<% if user_signed_in? %>
	<h1>Welcome to langlang <%= @user.email %></h1>
	<%= link_to "inbox", conversations_path %>

	<div class="col-md-2">
		<div class='home-page-avatar-info'>
			<%= image_tag @user.user_profile.picture.url(:thumb), id: "mini-profile-avatar" %>
			<h4><%= @user.first_name %> <%= @user.last_name %></h4>
			<h5><%= @user.username %></h5>
			<%= 'You have '+ "#{ pluralize(@unread_count, 'unread message')}"%>

			<br>
		</div>
	</div>
	<div class="col-md-10">
		<div class='main-splash-container'>
			<% if @user && @user.native_lang.nil? %>
				<%= link_to 'You need to create your language profile', 	edit_user_profile_path %>
			<% end %>
			<div class="row user-appointments">
				<% if @user %>
					<p>USER CALENDAR APPOINTMENTS</p>
					<%current_user.bookings.each do |booking|%>
						<%if (Time.now >= booking.start_time.to_time) && ( Time.now <= booking.end_time.to_time) %>
							You have a lesson now: <%= link_to 'GO TO LESSON', lesson_path(id: booking.lesson.uid)%>
						<% end%>	
					<% end%>
					<% @userbookings.each do |x| %>

					<p>

						 Appointment with: <%= x.not_you(current_user).first_name %><br>
						 Status: <%= x.accepted ? "has been confirmed." : "is awaiting confirmation." %>
						 <br>
						Starts at: <%="#{x.start_time.strftime('%I:%M:%S %p')}"%><br> 
						Duration:<%= pluralize(x.length, "hour") %><br>
						<%= link_to "View Booking", edit_booking_path(x) %>   <%= link_to "Cancel Booking", booking_path(x), method: 'delete' %><br /></p>
					<% end %>
				<% end %>
			<div class="calendar_container_small">
				<div id="calendar">
				</div>
			</div>
			</div>
			<div class="row matched-users">
				<h2>MATCHED USERS</h2>
				<% current_user.compatible_users.each do |users| %>
					<div class="col-md-2">
						<div class="matched-user-profiles">
							<% next if users.id == current_user.id %>
							<% if users.user_profile  %> 
								<%= image_tag users.user_profile.picture.url(:thumb) %>
								<%= link_to users.first_name, user_profile_path(users) %> 
								<h5 class='user-name'><%= users.user_profile.first_name %> <%= users.user_profile.last_name %></h5> 
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div class="row topics">
				<p>TOPICS</p>
				<% @topics.each do |x| %>
					<%= link_to x.name, topic_path(x) %><br />
				<% end %>
			</div>	
		</div>
	</div>
<% else %>
	<div class='welcome-container'>
		<div class='col-md-6 welcome'>
			<h1><span>LANG LANG DESCRIPTION</span></h1>
		</div>
		<%= render 'not_logged_in'  %>
	</div>
<% end %>
