<title>
	Welcome to langlang 
</title>
			<% if user_signed_in? %>
				<h1>
				Welcome to langlang <%= @user.email %>
				</h1>
<div class="col-md-2">
	<div class='home-page-avatar-info'>
		PROFILE PIC </br>
		PROFILE INFO </br>
	</div>
</div>
<div class="col-md-10">
	<div class='main-splash-container'>
		<div class="row user-appointments">
			<p>USER CALENDAR APPOINTMENTS</p>
			<% if @user.user_profile.nil? %>
			<%= link_to 'You need to create your language profile', 	new_user_profile_path %>
			<% end %>
			</div>
		<div class="row matched-users">
			<p>MATCHED USERS</p>
			<p>User Profiles</p>
			<% @user_list.each do |users| %>
				<div class='row user-profiles'>
				<% if users.user_profile  %>
				<%= image_tag users.user_profile.picture.url(:thumb) %>
				<%= users.user_profile.first_name %> 
				<%= users.user_profile.last_name %>
				<% end %>
				</div>
			<% end %>
		</div>
		<div class="row topics">
			<p>TOPICS</p>
		</div>	
	</div>
</div>












<% else %>
<div class='welcome-container'>
	<h1><span>LANG LANG DESCRIPTION</span></h1>
	<%= render 'not_logged_in'  %>
</div>
<% end %>
