
<title>
	Welcome to POLYGLT.com
</title>
<script>
$(document).ready(function() {
	$('#myCarousel').carousel({
	interval: 0
	})
    $('#myCarousel').on('slid.bs.carousel', function() {
    	//alert("slid");
	});  
});
</script>
<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>

<%= render 'layouts/not_logged_in' %>
<%= render 'layouts/checks' %>

<%= render 'layouts/left' %>

<div class="col-md-10">
	<div class='main-splash-container'>
		<% if @user && @user.native_lang.nil? %>
			<%= link_to 'You need to create your language profile', 	edit_user_profile_path %>
		<% end %>
		<% if @user %>
			<%= render 'layouts/appointments' %>

			<%= render 'layouts/matched_users' %>
			
			<br>

			<%= render 'layouts/topics_list' %>

		<% end %>

	</div>
</div>



<script>
$(document).ready(function() {
	$('#myCarousel').carousel({
	interval: 0
	})
    
    $('#myCarousel').on('slid.bs.carousel', function() {
    	//alert("slid");
	});
    
    
});
</script>

<script type="text/javascript">
    $(window).load(function(){
        $('#myModal').modal('show');
    });
</script>
