<title>Welcome to langlang</title>
<h1>langlang</h1>
<% if user_signed_in? %>
	<p>In development</p>
	<% if current_user.user_profile.native_lang.nil? %>
		<%= link_to 'Create your language profile', edit_user_profile_path %>
	<% end %>
	<p>User Profiles</p>
	<% @user_list.each do |users| %>
	<div class='avatar-profile-info'>
		<%= image_tag users.user_profile.picture.url(:thumb) %>
		<%= users.user_profile.first_name %> 
		<%= users.user_profile.last_name %>
	</div>
	<% end %>
<% else %>
<div class='welcome-container'>
	<h1><span>LANG LANG DESCRIPTION</span></h1>
	<%= render 'not_logged_in'  %>
</div>
<% end %>
