<title>Welcome to langlang</title>
<h1>langlang</h1>
<% if user_signed_in? %>
	<p>In development</p>
	<% if current_user.user_profile.native_lang.nil? %>
		<%= link_to 'Create your language profile', edit_user_profile_path(@user) %>
	<% end %>
	<p>User Profiles</p>
	<% @user_list.each do |users| %>
	<div class='avatar-profile-info'>
		<%= image_tag users.user_profile.picture.url(:thumb) %>
		<%= users.user_profile.first_name %> 
		<%= users.user_profile.last_name %>
	</div>
	<% end %>
<% else %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>


<% end %>
