<p>Edit User_Profile</p>


<%= form_for @user_profile, html: { multipart: true }, url: '/user_profile', method: :patch do |f| %>
	
	<%= f.file_field :picture %>
	<br>
	<div>
	Username: <%= current_user.email %>
	<br>

	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
	<br>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
	<br>
	<%= f.label :dob %>
	<%= f.date_select :dob, start_year: 1925, end_year: 2010 %>
	<br>
	<%= f.label :gender %>
	<%= f.text_field :gender %>
	<br>
	

    <%= f.label :native_tongue %>
	<%= f.select :native_lang, ['English', 'French', 'Spanish'] %>
	<br>
	<%= f.label :first_language %>
	<%= f.select :first_lang, ['English', 'French', 'Spanish'] %>
	<br>

		<%= f.label :first_lang_lvl %>
	<%= f.select :first_lang_lvl, [1,2,3,4,5] %>
	<br>
	<%= f.label :second_language %>
	<%= f.select :second_lang, ['English', 'French', 'Spanish'] %>
	<br>

		<%= f.label :second_lang_lvl %>
	<%= f.select :second_lang_lvl, [1,2,3,4,5] %>
	<br>
	<%= f.submit :class => 'post-button' %>


<% end %>

