<h2> Personal Profile </h2>
	<h4>Username: <%= current_user.email %></h4>

<%= form_for @user_profile, html: { multipart: true }, url: '/user_profile', method: :patch do |f| %> 
  <%= f.file_field :picture %>

    <br>
	<br>
  <table style='width:' class ="sign-in-table"> 
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :dob %></td>
      <td><%= f.date_select :dob, start_year: 1925, end_year: 2010 %></td>
    </tr>
    <tr>
      <td><%= f.label :gender %></td>
      <td><%= f.select :gender, ['Male', 'Female'] %></td>
    </tr>
    <tr>  
      <td><%= f.submit 'Update', :class => 'post-button' %></td>
    </tr>
  </table>

<% end %>
