<h2>Edit Profile</h2>

<%= form_for @user_profile, html: { multipart: true }, url: '/user_profile', method: :patch do |f| %>
	
	<%= f.file_field :picture %>

		<br>
	Username: <%= current_user.email %>
	<br>
  <table style='width:' class ="sign-in-table"> 
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :dob %></td>
      <td><%= f.date_select :dob, start_year: 1925, end_year: 2010 %></td>
    </tr>
    <tr>
      <td><%= f.label :gender %></td>
      <td><%= f.select :gender, ['Male', 'Female'] %></td>
    </tr>
  </table>
  <h2> Language Profile </h2>
  <table>
    <tr>
      <th></th>
      <th>Language</th>
      <th>Level</th>
    </tr>
    <tr>
      <td><%= f.label :native_tongue %></td>
      <td><%= f.select :native_lang, ['English', 'French', 'Spanish'] %></td>
       <td>N/A</td>
    </tr>
    <tr>
      <td><%= f.label :first_language %></td>
      <td><%= f.select :first_lang, ['English', 'French', 'Spanish'] %></td>
      <td><%= f.select :first_lang_lvl, [1,2,3,4,5] %></td>
    </tr>
    <tr>
      <td><%= f.label :second_language %></td>
      <td><%= f.select :second_lang, ['English', 'French', 'Spanish'] %></td>
      <td><%= f.select :second_lang_lvl, [1,2,3,4,5] %></td>
    </tr>
    <tr>  
      <td><%= f.submit :class => 'post-button' %></td>
    </tr>
  </table>

<% end %>
