<h2 class="edit-profile-titles"> PERSONAL PROFILE </h2>
<%= form_for @user_profile, html: { multipart: true }, url: '/user_profile', method: :patch do |f| %>
<form class="form-horizontal" role="form">

  <table style='width:' class ="sign-in-table"> 
    <tr>
      <td><%= f.label :first_name %></td>
      <td><%= f.text_field :first_name, :type=> "text", :class => 'form-control'%></td>
    </tr>
    <tr>
      <td><%= f.label :last_name %></td>
      <td><%= f.text_field :last_name, :type=> "text", :class => 'form-control' %></td>
    </tr>
    <tr>
      <td><%= f.label :dob %></td>
      <td><%= f.date_select :dob, {start_year: 1925, end_year: 2010,  :order => [:day, :month, :year]}, :class => "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :gender %></td>
      <td><%= f.select :gender, ['Male', 'Female'], :class => 'selectpicker' %></td>
    </tr>
  </br>
  </br>
    <tr>  
      <td><%= f.submit 'Update', :class => 'btn update-button-profile-edit-page' %></td>
    </tr>
  </table>

</form>
<% end %>


