<h2 class="edit-profile-titles"> LANGUAGE PROFILE </h2>
<%= form_for @user_profile, html: { multipart: true }, url: '/user_profile', method: :patch do |f| %>
<table>
  <tr>
    <th></th>
    <th>Language</th>
    <th>Level</th>
  </tr>
  <tr>
    <td><%= f.label 'Wants to Tearn' %></td>
    <td><%= f.select :native_lang, options_for_select(LANGUAGE_COUNTRY, @user_profile.native_lang)%></td>
     <td>N/A</td>
  </tr>
  <tr>
    <td><%= f.label 'Wants to Learn' %></td>
    <td><%= f.select :first_lang, options_for_select(LANGUAGE_COUNTRY, @user_profile.first_lang)%></td>
    <td><%= f.select :first_lang_lvl, options_for_select(LANGLEVEL) %></td>
  </tr>
</table>
<h3 class="edit-profile-titles"> About me </h3>
<h6 id="profile-about-me"> Please use this section to give a little bit more information about yourself. Describe your language learning experiences, what you hope to gain from a Tandem session etc. </h6>
<%= f.text_area :bio, :class => 'about-me form-control', :size=> "100x10" %>

  <tr>  
    <td><%= f.submit 'Update', :class => 'post-button' %></td>
  </tr>
<% end %>