<div class='profile-holder'>
	<%= image_tag (@user.picture.url(:medium)), class: 'profile-pic' %><br>
	<div class='info row'>
		<center>
			<div class='info col-md-4'>
				<span class='essential-prof-info'>
					TOPICS COMPLETED<br>
					N/A
				</span>
			</div>
			<div class='info col-md-4'>
				<span class='essential-prof-info'>
					HOURS COMPLETED<br>
					<%= @total_length %>
				</span>
			</div>
			<div class='info col-md-4'>
				<span class='essential-prof-info'>
					AVERAGE SCORE<br>
					<%= @average_score %>/5
				</span>
			</div>
		</center>
	</div>
	<div class='box wants-to-teach-learn'>
		<span class='wants-to-teach-learn'>
			Wants to Tearn: <%= @user.native_lang %>
		</span>
		<br>
		<span class='wants-to-teach-learn'>
			Wants to Learn: <%= @user.first_lang %>
		</span>
	</div>
</div>