<% if @user.first_name %>
<div class='col-md-3'>
  <div class="profile-pic-main" style="background-image: url(<%=@user.user_profile.picture.url(:large)%>);"></div>
  <div class="user-information">
    <h3 class="user-name-h3"><%=@user.first_name.upcase%> <%=@user.last_name.upcase%></h3>
    <h4 class="user-information-language"> Wants to Tearn: <%=@user.native_lang%></h4>
    <h4 class="user-information-language"> Wants to Learn: <%=@user.first_lang%> (Level <%=@user.first_lang_lvl%>)</h4>
  </div>
  <% end %>


</div>

<div class='col-md-9'>
  <ul class="nav nav-tabs" id="appointmentTab">
    <li class="active"><a href="#about-me" data-toggle="tab">User Details</a></li>
    <li><a href="#topics" data-toggle="tab">Topics Information</a></li>
    <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
    <% if @user != current_user %>
      <li><a href="#messaging" data-toggle="tab">Send a message </a></li>
      <li><a href="#booking" class='booking-tab' data-toggle="tab">Set up a conversation session</a></li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="about-me">
      <div class="topics-wrap">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%=@user.first_name%>'s Statistics</h3>
            </div>
            <div class="panel-body">
              <div class="quick-info">
                <span class="glyphicon glyphicon-stats"></span> 
                <% if @bookings_count %> Lessons Booked: <%= @bookings_count %><% end %> <br>
                <span class="glyphicon glyphicon-time"></span> 
                <% if @total_length %> Hours Completed: <%= @total_hours %> <% end %> <br>
                <span class="glyphicon glyphicon-pencil"></span>  Topics Completed: <%= @completed_topics.count %><br>
                <span class="glyphicon glyphicon-certificate"></span>  Average Rating: <%= @average_score %>/5<br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">About <%=@user.first_name%></h3>
            </div>
            <div class="panel-body">
              <%= @user.user_profile.bio%>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="tab-pane" id="topics">
      <div class="col-md-5">
        <div class="topics-wrap">
          <div class="panel panel-default">     
            <div class="panel-heading">                          
              Completed Topics  
              <span class="badge pull-right"><%= @completed_topics.count%></span>       
            </div>
            <div class="panel-body">
              <p>These are the list of topics that <%=@user.first_name%> has completed, kudos!</p>
            </div>        
             <ul class="list-group">
              <% if @completed_topics.any? %>
                <% @completed_topics.each do |x| %>
                <% y = Topic.find_by name: x %>
                <li class="list-group-item"><%= link_to "#{y.name}", topic_path(y.id)%></li>
                <% end %>
              <% else %>
                  <li class="list-group-item">Information not available yet. Start a conversation with <%= @user.first_name%>!</li>
              <% end %>
            </ul> 
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="topics-wrap">
          <div class="panel panel-default">     
            <div class="panel-heading">                          
              Incomplete Topics  
              <span class="badge pull-right"><%=@incomplete_topics.count%></span>       
            </div>
            <div class="panel-body">
              <p>See a similar incomplete topic? Have a conversation with <%=@user.first_name%>!</p>
            </div>        
             <ul class="list-group">
              <% if @incomplete_topics.any? %>
                <% @incomplete_topics.each do |x| %>
                  <% y = Topic.find_by name: x %>
                  <li class="list-group-item"><%= link_to "#{y.name}", topic_path(y.id)%></li>
                <% end %>
              <% else %>
                <li class="list-group-item">No information available yet. Start a conversation with <%= @user.first_name%>!</li>
              <% end %>
            </ul> 
          </div>
        </div>
      </div>
    </div> 
    <div class="tab-pane" id="reviews">
      <div class="reviews-wrap">
        <div class="positive-reviews-wrap">
          <div class="panel panel-default">
            <div class="panel-heading"> Positive Reviews <br> </div>
              <div class="panel-body">
                See what <%= @user.first_name%>'s friends think are <%= @user.gendered_possessive %> strengths from previous conversations. <br>
              </div>
              <ul class="list-group">
                <% if @rev1.any? %>
                  <% @rev1.each do |x| %>
                   <li class="list-group-item"><%= simple_format (x)%></li>
                  <% end %>
                <% else %>
                  <li class="list-group-item">Information not available yet. Start a conversation!</li>
                <% end %>
              </ul> 
            </div>
          </div>
        <div class="suggestions-reviews-wrap">
          <div class="panel panel-default">
            <div class="panel-heading"> Suggested Focus Areas </div>
            <div class="panel-body">
              <p>See how you can help <%=@user.first_name%> based on these suggested focus areas!</p>
            </div>
              <ul class="list-group">
                <% if @rev2.any? %>
                  <% @rev2.each do |x| %>
                   <li class="list-group-item"><%= simple_format (x)%></li>
                  <% end %>
                <% else %>
                  <li class="list-group-item">Information not available yet. Start a conversation!</li>
                <% end %>
              </ul> 
          </div>
        </div>
      </div>
    </div>
    <% if @user != current_user %>
      <div class="tab-pane" id="messaging">
        <div class="messages-wrap">
          <div class="col-md-7">
            <%= render :partial => 'messages/new' %> 
          </div>
        </div>
      </div>
      <div class="tab-pane" id="booking">
        <div class="bookings-wrap">
          <div class="col-md-5">
            <div class="modal-body">
              <%= render :partial => 'bookings/form' %> 
            </div>
          </div>
          <div class="col-md-6">
            <div class="calendar-container">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

</div>

</div>
	  	
