
<div class="col-md-2 profile">
</div>

<div class="row">
  <div class="col-xs-6 col-md-5 col-md-offset-1">
		<%= link_to (image_tag @user.picture.url(:medium)), user_profile_path(@user), class: "thumbnail"  %>
		<%= link_to "Message ", new_user_message_path(@user), class: "btn left btn-info wide" %>

<div id="groups_show" style="display:none">
  <%= render :partial => 'messages/new' %> 
</div>
<%= link_to "Message ", new_user_message_path(@user) %>
<%= link_to new_user_message_path(@user), ("Share This!", "show_group_popup()") %>



		<%= link_to "View availability", user_profile_path(@user), class: "btn btn-info right wide" %> </br >
		<% if @user.user_profile %>

  		<dl class="dl-horizontal"></br>
  		<% if @user.first_name && @user.last_name %>
	  		<dt>Name:</dt> <dd><%= @user.first_name + " " + @user.last_name %></dd>
	  	<% end %>

	  	<dt>Location:</dt> <dd>London</dd> 
	  	<% if @user.native_lang %>
	  		<dt>Native Language</dt> <dd><%= @user.native_lang %></dd> 
	  	<% end %> 
	  	<% if @user.first_lang %>
	  		<dt>Looking To Learn</dt> <dd><%= @user.first_lang %></dd>
	  	<% end %>
	  	<% if @user.email %>
	  		<dt>Email</dt> <dd><%= @user.email %></dd> 
	  	<% end %>
		</dl>
		<% end %>
		<div id="calendar">
</div>
	</div>
	<div class="calendar col-md-2 col-md-offset-1" >
	Timetable of availability goes here <br />
	Clicking on an hour slot brings up sending a request <br />
	Maybe a request chat now too if he's online
	</div>
</div>


	<%= render 'bookings/form' %>
