
<%= form_for([@user, @user_review]) do |f| %>

<p><h555>Please leave your review<h555></p><br>
<p>
    <label for="rev1" class="label_reviews">How did the user get on?</label>
      <%= f.text_area :rev1 %><br>
    </p>
    <p>
    <label for="rev2" class="label_reviews">Where can they improve?</label>
      <%= f.text_area :rev2 %><br>
      </p>
    <p>

    <label  for="rev2" class="label_reviews">Score out of 5</label>
      <%= f.select :score, [1, 2, 3, 4, 5] %><br>
    </p>
    <p>
    <label for="completed" class="label_reviews">Has the user completed this topic?</label>
      <%= f.check_box :completed %><br>
    </p>
    <p>
      <%= hidden_field_tag 'lesson_id', params[:lesson_id] %>

    <%= f.submit :class => 'post-button', :name => 'create_rev_but', :method => :create %><br>
</p>

  

<% end %>

