<script src="http://simplewebrtc.com/latest.js"></script>

<div class="container">
  <div class="lesson-topic">
     <%= @lessons_topic_name %>
  </div>
</div>

<div class="container">
  <div class="col-md-5">
    <video id="localVideo"></video>
    <div id="remoteVideos"></div>
  </div>
  <div class="col-md-2">
    <div class="timer" data-timer="<%= @time_in_seconds %>" ></div>
  </div>
  <div class="col-md-5">
    <div id="chat"></div>
    <div id="chat-box"><input type='text' id='message' placeholder='Press enter to submit'></div>
  </div>  
</div>

<div class="container">
  <div class="conversation-suggestions">
    <h3>Here are some suggested topics to get you started: </h3>
    <% @questions_for_topic.each do |x|%>
      <li><%= x.text %></li>
    <%end%>
  </div>
</div>


<script>
// Did not shift to Javascript directory because shifting induces a bug. 

  // Start for time alerts
  window.onload = timeAlerts

  function timeAlerts()
  {
    setTimeout(function(){alert("welcome!")},'<%= (@time_in_seconds  / 2 - 10) * 1000 %>');
    setTimeout(function(){alert("5 minutes till swap")},'<%= (@time_in_seconds  / 2 - 300) * 1000 %>');
    setTimeout(function(){alert("time to swap")},'<%= (@time_in_seconds  / 2 ) * 1000 %>');
    setTimeout(function(){alert("5 minutes till end of session")},'<%= (@time_in_seconds  - 300) * 1000 %>');
    setTimeout(function(){alert("1 minute till end of session")},'<%= (@time_in_seconds  - 60) * 1000 %>');
    setTimeout(function(){alert("end of session")},'<%= (@time_in_seconds-1) * 1000 %>');
    setTimeout(function(){location.href = '/users/'+ '<%= @current_user.id %>'  + "/user_reviews/new?lesson_id=" + '<%= @lessons.id %>'},'<%= (@time_in_seconds) * 1000 %>');
  }
  // End for time alerts


  // Start for Audio & Video Chat
  var webrtc = new SimpleWebRTC({
    // the id/element dom element that will hold "our" video
    localVideoEl: 'localVideo',
    // the id/element dom element that will hold remote videos
    remoteVideosEl: 'remoteVideos',
    // immediately ask for camera access
    autoRequestMedia: true
  });
  // we have to wait until it's ready
  webrtc.on('readyToCall', function () {
    // you can name it anything
    webrtc.joinRoom('<%= params[:id] %>');
  });
  // End for Audio & Video Chat

  // Start for Text Chat
  $(document).ready(function(){

    ws = new WebSocketRails(window.location.host + '/websocket');

    $('#message').bind('keypress', function(e){
      if(e.keyCode !== 13)
        return;
      var value = this.value; 
      $.post('/lesson_texts', {message: value, uid: '<%= @lessons.uid %>'})
      $('#message').val('')
    });

    var channel = ws.subscribe('chat_<%= @lessons.uid %>');

    channel.bind('new', function(chat) {
      var el = $('#chat');
      el.append('<div>' + chat.user_name + ": " + chat.message + '</div>');
    });

  });
  // End for Text Chat  



</script>








