<head>

<script src="http://simplewebrtc.com/latest.js"></script> 

      <style>
          #remoteVideos video {
              position: absolute;
              height: 500px;
              left:0px;
              top:0px;
              z-index:-1;
          }
          #localVideo {
              height: 100px;
              border: 1px solid white;
          }

          #chat{
             height: 450px;
             width: 300px;
             border: 1px solid gray;
             position: absolute;
             left:700px;
             top: 0px;
             overflow:scroll;
          }


          #chat div {
            padding:  2px 11px;
            border: 1px solid gray;
            word-wrap: break-word;
          }

         p{
            position: absolute;
            left:700px;
            top: 445px;
           
          }

          input{
            position: absolute;
            left:700px;
            top: 480px;
            width: 300px;
          }


      </style>
  </head>
  <body>

    <div class="timer" data-timer="<%= @time_in_seconds %>" ></div>


    <video id="localVideo"></video>
    <div id="remoteVideos"></div>
    <div id="chat"></div>
    <p> Start chatting below!</p>
    <input type='text' id='message'>



    <script>
      window.onload = timeAlerts

      function timeAlerts()
      {
        setTimeout(function(){alert("5 minutes till swap")},'<%= (@time_in_seconds  / 2 - 300) * 1000 %>');
        setTimeout(function(){alert("time to swap")},'<%= (@time_in_seconds  / 2 ) * 1000 %>');
        setTimeout(function(){alert("5 minutes till end of session")},'<%= (@time_in_seconds  - 300) * 1000 %>');
        setTimeout(function(){alert("1 minute till end of session")},'<%= (@time_in_seconds  - 60) * 1000 %>');
        setTimeout(function(){alert("end of session")},'<%= (@time_in_seconds-1) * 1000 %>');
        setTimeout("location.href = '/users/"+ '<%= @current_user.id %>'  + "user_views/new?lesson_id=" + '<%= @lessons.id %>' ,'<%= (@time_in_seconds) * 1000 %>');
      
        }
    </script>


    <script>   
      var webrtc = new SimpleWebRTC({
        //the id/element dom element that will hold "our" video
        localVideoEl: 'localVideo',
        // the id/element dom element that will hold remote videos
        remoteVideosEl: 'remoteVideos',
        // immediately ask for camera access
        autoRequestMedia: true
      });


      // we have to wait until it's ready
      webrtc.on('readyToCall', function () {
        // you can name it anything
        webrtc.joinRoom('<%= params[:id] %>');
      });
    </script>


    <script>


    $(document).ready(function(){


      ws = new WebSocketRails(window.location.host + '/websocket');

      $('#message').bind('keypress', function(e){

        if(e.keyCode !== 13)
          return;

        var value = this.value; 

        $.post('/lesson_texts', {message: value})

        $('#message').val('')
      });

      var channel = ws.subscribe('chat');
      channel.bind('new', function(chat) {
        var el = $('#chat');
        el.append('<div>' + chat.user_name + ": " + chat.message + '</div>');
      });



    });




    </script>

  </body>
</html>







