
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="header">
  
    <div class="navbar-header">

      <%= link_to image_tag("polyglt_logo.png"), root_path, class: "header_logo" %>

      <%= link_to 'POLYGLT', root_path, class: "polyglot_name" %>
    <!--  <div class=""> POLYGLT </div> -->
    </div>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>


        <!-- <li> Logged in as <%= current_user.first_name %> </li> -->
        <li><%= link_to "", bookings_path(current_user), :class => 'glyphicon glyphicon-pushpin' %></li>

        <li><%= link_to '', conversations_path, :class => 'glyphicon glyphicon-envelope' %></li>
        <li><%= link_to '', edit_user_profile_path, :class => 'glyphicon glyphicon-cog' %></li>
        <li><%= link_to '', destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-user' %></li>

      </ul>

      <% end %>
    </div>
  </div>
</nav>
   <% if user_signed_in? %>
<div class="main-content"></div>
<% end %>
