<nav class="navbar navbar-default" role="navigation">
  <div class="header">
  
    <div class="navbar-header">

      <%= link_to image_tag("polyglt_logo.png"), root_path, class: "header_logo" %>
      <p>POLYGLT</p>
    </div>
  
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
				<li>CURRENT USER ID: <%= current_user.id %></li>
        <li> Logged in as <%= current_user.first_name %> </li>
        <li><%= link_to "Appointments", bookings_path(current_user) %></li>
        <li><%= link_to 'Messages', conversations_path %></li>
        <li><%= link_to 'Settings', edit_user_profile_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% end %>

      </ul>
    </div>
  </div>
</nav>
