<!DOCTYPE html>
<html>
	<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >
   <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="google-translate-customization" content="e6aff7833d789627-ba911b4d84341294-gbf0b7fe90ad344f2-16"></meta>
  
    <title>Polyglt</title>

    <meta charset='utf8'>
	</head>
<body>
	

  <%= render 'layouts/header' %>

  <%= render 'layouts/notices' %>
  
  <%= render 'layouts/alerts' %>

	<p class="yield">
    <%= yield %>
  </p>

  <%= render 'layouts/footer' %>

<script>
  $('#noticeModal').modal()
  $('#alertModal').modal()
  $('#profileModal').modal()
</script>

</body>
</html>

